network:
  version: 2
  renderer: networkd
  ethernets:
    {{ physical_iface }}:
      dhcp4: no
  bonds:
    bond0:
      interfaces:
        - {{ physical_iface }}
      parameters:
        mode: active-backup
        mii-monitor-interval: 100
  bridges:
    # br0: Management Network (VLAN 199 Untagged)
    # Using a bridge instead of assigning IP to bond0 allows host-to-VM communication
    br0:
      interfaces: [bond0]
      addresses:
        - {{ ansible_host }}/24
        {% if inventory_hostname == 'lpt-1' %}
        - {{ network.okd_lb_ip }}/24
        - {{ network.netboot_ip }}/24
        {% endif %}
      routes:
        - to: default
          via: {{ network.mgmt_gateway }}
      nameservers:
        addresses: [{{ network.primary_dns }}, 8.8.8.8]
        search: {{ network.search_domains }}
      parameters:
        stp: no

    # br198: Compute/VM Network (VLAN 198 Tagged)
    br198:
      interfaces: [vlan{{ network.vlan198_id }}]
      dhcp4: yes
      parameters:
        stp: no

  vlans:
    vlan{{ network.vlan198_id }}:
      id: {{ network.vlan198_id }}
      link: bond0
