network:
  version: 2
  renderer: networkd
  ethernets:
    {{ physical_iface }}:
      dhcp4: no
  bonds:
    bond0:
      interfaces:
        - {{ physical_iface }}
      parameters:
        mode: active-backup # Standard for single-link or non-LACP switches
        mii-monitor-interval: 100
  bridges:
    br0:
      interfaces: [bond0]
      addresses:
        - {{ ansible_host }}/24
      routes:
        - to: default
          via: {{ mgmt_gateway }}
      nameservers:
        addresses: [{{ unifi_router }}, 8.8.8.8]
        search: [{{ domain_name }}]
      parameters:
        stp: no
    br198:
      interfaces: [vlan198]
      addresses:
        - {{ vlan198_ip }}/24
  vlans:
    vlan198:
      id: 198
      link: bond0
